# Binaries
/costa
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build artifacts
/dist/
/build/
/bin/
/out/
/.bin/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Go
/vendor/
*.test
coverage.out
coverage.html
*.coverprofile
coverage/

# Release artifacts
costa-app.key
